<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.weekenddevelopers.tamilaptitude">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_icon_v2_round"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_new_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity android:name=".Example_Area_Page"
            android:screenOrientation="userPortrait"
            android:label="Area"/>
        <activity android:name=".Formula_Area_Page"
            android:screenOrientation="userPortrait"
            android:label="Area"
            />
        <activity android:name=".Example_HeightDistance_Page"
            android:screenOrientation="userPortrait"
            android:label="Height and Distance"
            />
        <activity android:name=".Formula_HeightDistance_Page"
            android:screenOrientation="userPortrait"
            android:label="Height and Distance"
            />
        <activity android:name=".Example_Calender_Page"
            android:screenOrientation="userPortrait"
            android:label="Calender"
            />
        <activity android:name=".Formula_Calender_Page"
            android:screenOrientation="userPortrait"
            android:label="Calender"/>
        <activity android:name=".Example_Volume_Page"
            android:screenOrientation="userPortrait"
            android:label="Volume"/>
        <activity android:name=".Formula_Volume_Page"
            android:screenOrientation="userPortrait"
            android:label="Volume"/>
        <activity android:name=".Example_Comp_Page"
            android:screenOrientation="userPortrait"
            android:label="Compound Interest"/>
        <activity android:name=".Formula_Compound_Page"
            android:screenOrientation="userPortrait"
            android:label="Compound Interest"/>
        <activity android:name=".Example_Mix_Page"
            android:screenOrientation="userPortrait"
            android:label="Alligation and Mixture"/>
        <activity android:name=".Formula_Mix_Page"
            android:screenOrientation="userPortrait"
            android:label="Alligation and Mixture"/>
        <activity android:name=".Example_Boat_Page"
            android:screenOrientation="userPortrait"
            android:label="Boat and Streams"/>
        <activity android:name=".Formula_Boat_Page"
            android:screenOrientation="userPortrait"
            android:label="Boat and Streams"/>
        <activity android:name=".Example_Train_Page"
            android:screenOrientation="userPortrait"
            android:label="Problems on Trains"/>
        <activity android:name=".Formula_Train_Page"
            android:screenOrientation="userPortrait"
            android:label="Problems on Trains"/>
        <activity android:name=".Example_Pipe_Page"
            android:screenOrientation="userPortrait"
            android:label="Pipe and Cistern"/>
        <activity android:name=".Formula_Pipe_page"
            android:screenOrientation="userPortrait"
            android:label="Pipes and Cisterns"/>
        <activity android:name=".Example_Ratio_Page"
            android:screenOrientation="userPortrait"
            android:label="Ratio"/>
        <activity android:name=".Formula_Ratio_Page"
            android:screenOrientation="userPortrait"
            android:label="Ratio"/>
        <activity android:name=".Example_ProblemOnAges_Page"
            android:screenOrientation="userPortrait"
            android:label="Problems on Ages"/>
        <activity android:name=".Splash_Screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Formula_ProblemOnAges_Page"
            android:label="Problem on Ages"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".Rate_Page"
            android:label="Rate Us"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".Share_Page"
            android:label="Share"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".Policy_Page"
            android:label="Privacy Policy"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".Feedback_Page"
            android:label="Feedback"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".About_Page"
            android:label="About"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".Test_Quiz_Page"
            android:label="Test"
            android:screenOrientation="userPortrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Hint_PopUP_Page"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".Example_SimpleInterest_Page"
            android:label="Simple interest"
            android:screenOrientation="userPortrait"
            />
        <activity
            android:name=".Example_TimeWork_Page"
            android:screenOrientation="userPortrait"
            android:label="Time and work"
             />
        <activity
            android:name=".Example_TimeDistance_Page"
            android:screenOrientation="userPortrait"
            android:label="Time and Distance"
             />
        <activity
            android:name=".Example_ProfitLoss_Page"
            android:screenOrientation="userPortrait"
            android:label="Profit-Loss"
             />
        <activity
            android:name=".Example_Percentage_Page"
            android:screenOrientation="userPortrait"
            android:label="Percentage"
             />
        <activity
            android:screenOrientation="userPortrait"
            android:name=".Example_Average_Page"
            android:label="Average"
            />
        <activity
            android:name=".Example_Simplification_Page"
            android:screenOrientation="userPortrait"
            android:label="Simplification"
             />
        <activity
            android:name=".Example_Decimal_Page"
            android:screenOrientation="userPortrait"
            android:label="Decimal fraction"
           />
        <activity
            android:name=".Example_LcmHcf_Page"
            android:screenOrientation="userPortrait"
            android:label="LCM and HCF"
             />
        <activity
            android:name=".Example_Number_Page"
            android:screenOrientation="userPortrait"
            android:label="@string/number_title"
            />
        <activity
            android:name=".Result_Page"
            android:screenOrientation="userPortrait"
            android:label="Result"
             />
        <activity
            android:name=".Practice_Quiz_Page"
            android:screenOrientation="userPortrait"
            android:label="Practice"

            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Formula_SimpleInterest_Page"
            android:configChanges="orientation"
            android:label="Simple interest"
            />
        <activity
            android:name=".Formula_TimeWork_Page"
            android:configChanges="orientation"
            android:screenOrientation="userPortrait"
            android:label="Time and work"
            />
        <activity
            android:name=".Formula_TimeDistance_Page"
            android:configChanges="orientation"
            android:label="Time and Distance"
             />
        <activity
            android:name=".Formula_ProfitLoss_Page"
            android:configChanges="orientation"
            android:screenOrientation="userPortrait"
            android:label="Profit-Loss"
             />
        <activity
            android:name=".Formula_Percentage_Page"
            android:configChanges="orientation"
            android:screenOrientation="userPortrait"
            android:label="Percentage"
             />
        <activity
            android:name=".Formula_Average_Page"
            android:configChanges="orientation"
            android:screenOrientation="userPortrait"
            android:label="Average"
            />
        <activity
            android:name=".Formula_Simplification"
            android:configChanges="orientation"
            android:screenOrientation="userPortrait"
            android:label="Simplification"
             />
        <activity
            android:name=".Formula_DecimalFraction_Page"
            android:configChanges="orientation"
            android:screenOrientation="userPortrait"
            android:label="Decimal fraction"
             />
        <activity
            android:name=".Formula_LcmHcf_Page"
            android:configChanges="orientation"
            android:screenOrientation="userPortrait"
            android:label="LCM and HCF"
             />
        <activity
            android:name=".Formula_Number_Page"
            android:configChanges="orientation"
            android:screenOrientation="userPortrait"
            android:label="@string/number_title"
            />
        <activity
            android:name=".Test_Home_Page"
            android:configChanges="orientation"
            android:label="Test"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".Practice_Home_Page"
            android:configChanges="orientation"
            android:label="Practice"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".Formula_Home_Page"
            android:configChanges="orientation"
            android:label="@string/formula_title"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".Example_Home_Page"
            android:configChanges="orientation"
            android:label="Example"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="userPortrait"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- <meta-data -->
        <!-- android:name="com.google.android.gms.ads.APPLICATION_ID" -->
        <!-- android:value="ca-app-pub-5376812679381678~6509200003" /> -->
        <receiver android:name=".BroadcastReciver.AlarmReciver" />

        <activity
            android:name="com.mopub.common.privacy.ConsentDialogActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" /> <!-- All ad formats -->
        <activity
            android:name="com.mopub.common.MoPubBrowser"
            android:configChanges="keyboardHidden|orientation|screenSize" /> <!-- Interstitials -->
        <activity
            android:name="com.mopub.mobileads.MoPubActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.mopub.mobileads.MraidActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" /> <!-- <activity android:name="com.mopub.mobileads.RewardedMraidActivity" android:configChanges="keyboardHidden|orientation|screenSize"/> -->
        <activity
            android:name="com.mopub.mobileads.MraidVideoPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
    </application>

</manifest>